<h1>About Me</h1>
<p> Military veteran with 8 years of experience in leadership and problem-solving. Currently working as a software developer and love doing what I do.   I enjoy the challenges of learning new stuff every day and overcoming obstacles day to day  </p>

<p> </p>

