<h1>About Me</h1>

<hr>
 <div class="row">
    <div class="col-md-4">
    <%= image_tag "profile.jpg", width:300, alt:"Profile image"%>
    </div>

    <div class="col-md-6">
    <p> Military veteran with 8 years of experience in leadership and problem-solving. Currently working as a software developer and love doing what I do.   I enjoy the challenges of learning new stuff every day and overcoming obstacles day to day  </p>
    </div>
 </div>




